* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

main {
  background: hsl(185, 41%, 84%);
}

.logo-cont {
  width: 100%;
  padding: 50px 0 40px 0;
}

.logo-img {
  display: block;
  margin: 0 auto;
}

.main-cont {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
}

.main-content-cont {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
}

.bill-p, .select-tip-p, .number-of-people-p {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  padding-bottom: 5px;
}

#bill-input, #number-of-people-input {
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 4% center;
  padding: 5px 7px 5px 15px;
  width: 100%;
  border: 0.1rem solid transparent;
  background-color: hsl(189, 41%, 97%);
  border-radius: 0.3rem;
  font-size: 1.5rem;
  text-align: right;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  margin-bottom: 10%;
  transition: 0.3s;
}

#bill-input:focus, .custom-input:focus, #number-of-people-input:focus  {
  outline: none;
  border: 0.1rem solid hsl(172, 67%, 45%);
}

.tip-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "btn5 btn10"
  "btn15 btn25"
  "btn50 input";
  width: 100%;
  grid-gap: 10px;
  padding: 10px 0 35px 0;
}

.btn-5, .btn-10, .btn-15, .btn-25, .btn-50 {
  grid-area: btn5;
  padding: 8px 22px;
  background-color:  hsl(183, 100%, 15%);
  border: 0;
  border-radius: 0.3rem;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-5:hover , .btn-10:hover , .btn-15:hover , .btn-25:hover , .btn-50:hover  {
  background-color: hsla(172, 67%, 45%, 0.5);
  color: hsl(183, 100%, 15%);
}

.btn-10 {
  grid-area: btn10;
}

.btn-15 {
  grid-area: btn15;
}

.btn-25 {
  grid-area: btn25;
}

.btn-50 {
  grid-area: btn50;
}

.btn-active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  transition: 0.3s;
}

.custom-input {
  width: 100%;
  grid-area: input;
  padding-right: 15px;
  text-align: right;
  border: 0.1rem solid transparent;
  background-color: hsl(189, 41%, 97%);
  border-radius: 0.3rem;
  font-size: 1.5rem;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.custom-input:focus {
  cursor: pointer;
  border: 0.1rem solid hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.custom-input[type="number"]::placeholder {
  color: hsl(186, 14%, 43%);
}

#number-of-people-input {
  background-image: url(images/icon-person.svg);
}

.error-msg {
  text-align: right;
  margin: 5px 0;
  color: hsl(0, 86%, 57%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show-error-msg {  
  opacity: 1;
}

.tip-output-cont {
  background-color: hsl(183, 100%, 15%);
  border-radius: 1rem;
  padding: 25px 0 10px 0;
}

.tip-person, .total-person {
  width: 85%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.tip-p, .total-p {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.person-p {
  color: hsl(184, 14%, 56%);
  font-weight: 700;
  font-size: 0.8rem;
}

.tip-amount-money, .total-money {
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 1.75rem;
}

.reset-btn-cont {
  text-align: center;
  margin: 30px 0 10px 0;
}

.reset-btn-cont button {
  width: 85%;
  margin: 0 auto;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: 0;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.reset-btn-cont button:hover {
  filter: brightness(130%);
}

@media only screen and (min-width: 765px) {
  html  {
    background: hsl(185, 41%, 84%);
  }

  .main-cont {
    width: 700px;
    margin: 0 auto;
  }

  .main-content-cont {
    margin: 20% auto 0 auto;
  }

  .btn-5, .btn-10, .btn-15, .btn-25, .btn-50, .custom-input {
    width: 88px;
  }

  .flex-cont {
    display: flex;
  }

  .main-cont {
    border-radius: 1.5rem;
  }

  .section-1 {
    width: 300px;
    margin: 0 30px 0 -20px;
  }

  .reset-btn-cont {
    margin: 160px 0 10px 0;
  }

  .tip-output-cont {
    width: 300px;
    margin: 0 -20px 0 30px;
  }

  .tip-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "btn5 btn10 btn15"
    "btn25 btn50 input";
    width: 82%;
  }

  .tip-p, .total-p {
    font-size: 1.2rem;
  }

  .person-p {
    font-size: 1rem;
  }

  .tip-amount-money, .total-money {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 900px;
  }

  .section-1, .tip-output-cont {
    width: 400px;
  }

  .btn-5, .btn-10, .btn-15, .btn-25, .btn-50, .custom-input {
    width: 118px;
  }

  .tip-amount-money, .total-money {
    font-size: 2.5rem;
  }
}
.attribution { 
  font-size: 11px; text-align: center; 
  margin-top: 10px;
  color: hsl(172, 67%, 45%);
}

.attribution a { 
  color: hsl(183, 100%, 15%); 
}